.card {
  @apply flex justify-between;
}

.actions {
  @apply text-right;
}

.action {
  @apply ml-2;

  &:global(.bp5-button) {
    @apply outline-none;
  }
}

.input {
  @apply bg-transparent ml-[20px] lg:ml-[110px];
}

.textArea {
  @apply inline-flex relative;
  width: calc(100% - 250px);
}

.completed {
  &:global(.bp5-card) {
    @apply bg-slate-300;
  }

  .textArea::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: black;
  }
}
